footer {
    background-color: #3a3535;
    margin-top: 30px;
    width: 100%;
    text-align: center;
    color: #f1f1f1
}

.tmdb {
    padding: 10px 0;
}

.tmdb img{
    width:200px;
}

footer .copyrights {
    padding: 20px 0;
    background-color: #302b2b;
}